/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

a {
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #55f;
}

h1 {
  margin-top:0;
}

h1 {
  font-family: Georgia;
}
em {
  font-weight: normal;
}

sup {
  font-weight: normal;
}

sup.note {
  color: #ddd;
}

time {
  font-size: 0.8em;
}

#account {
  float:right;
  background-color: #efe;
  border: 0.25em solid #ded;
}

#account {
  padding: 0.75em;
  line-height: 2em;
}

#profile {
  border:4px solid #edd;
  background:#fee;
  padding: 0.5em 1em;
  margin: 0.1em 1em 0.1em 1em;
}

#items {
  border:4px solid #dde;
  background:#eef;
  padding:8px;
  width:60%;
  float:left;
}

#scopes {
  background: #eef;
  border: 0.25em solid #cce;
  padding: 0.5em;
  margin-bottom: 0px;
}

#scopes li {
  position: relative;
  width: 10em;
  display: inline-block;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width: 20%;
}

#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  padding:8px;
  margin:4px 0;
}

form {
  padding:0.25em;
  margin:0.5em;
  background-color:#eee;  
}

form label {
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
  margin-left: 1.5em;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

#links {
  float: left;
  width: 75%;
}

#links ul {
  list-style: none;
  padding: 0em 2em 0em 2em;
}

#links li {
  margin: 0.5em;
}

#links li:hover {
  background-color: #eee;
}

#links li .author {
  float:left;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
}

#links li .author img {
  margin: .5em;
  display: block;
}

#links li .meta {
  float: right;
}

.message {
  font-family: Georgia, serif;
  margin: 1.5em;
}

.user {
  font-weight: bold;
}

.clear {
  clear: both;
}
