/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

.loading {
  background-color: red;
  color: white;
}
a {
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #55f;
  text-decoration: none;
}

a img {
  border: 0px solid transparent;
}

h1 {
  margin-top:0;
}

h1 {
  font-family: Georgia;
}

input[type=text], input[type=password] {
  background-color: white;
  border: 0px solid transparent;
  font-family: "Lucida Grande", sans-serif;
  font-size: 1.1em;
  padding: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

em {
  font-weight: normal;
}

sup {
  font-weight: normal;
}

sup.note {
  color: #ddd;
}

time {
  font-size: 0.8em;
}

#header {
  width: 90%;
  position: relative;
  left: 5%;
}

#contentwrapper {
  width: 90%;
  position: relative;
  left: 5%;
  float: left;
}


#account {
  float:right;
  background-color: #efe;
  border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border: 0.25em solid #ded;
  padding: 0.75em;
  line-height: 2em;
}

#account input[type=submit] {
  display: block;

}

#profile {
  border:4px solid #edd;
  background:#fee;
  padding: 0.5em 1em;
  margin: 0.1em 0em 0.1em 0em;
  border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
}

#domaincloud, #tagcloud {
  text-align: justify;
  text-justify: newspaper;
}

#scopes {
  background: #eef;
  border: 0.25em solid #cce;
  border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  padding: 0.5em;
  margin: 0.1em 0em;
}

#scopes li {
  position: relative;
  width: 10em;
  display: inline-block;
}

#sidebar {
  background-color: #dfd;
  margin-top: 1.5em;
  margin-left: -250px;
  padding:8px;
  float:right;
  width: 250px;
  border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
}

#footer {
  clear: right;
  width: 100%;
  text-align: center;
}


#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  padding:8px;
  margin:4px 0;
}

#profile form {
  margin-left: 80px;
}

form {
  position: relative;
  padding:0.25em;
  margin:0.5em;
}

form label {
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
  width: 140px;
  display: inline-block;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

#links {
  margin-right: 275px;
}

#links > .link {
  margin: 1.5em 0em 1.5em 0em;
  position: relative;
  border: 0px dotted #ffcc00;
  overflow: hidden;
}

#links ul {
  list-style: none;
  padding: 0em 0em 0em 0em;
}

#links .link {
  margin: 1.5em 0.0em;
  position: relative;
  border: 0px dotted #ffcc00;
  overflow: hidden;
}

#links > form {
  background-color: #eee;
}

#links > form fieldset {
  border : 1px solid white;
}

#links .link time {
}

#links .link:hover {
  background-color: #eee;
}


#links .link .author {
  text-align: center;
  float: left;
  font-weight: bold;
  font-size: 0.8em;
}

#links .link .author img {
  margin: .5em;
  display: block;
  opacity: 1;
}

#links .link a.url {
  font-size: 6em;
  text-decoration: none;
  position: absolute;
  left: -150px;
  top: -25px;
  opacity: 0.3;
  z-index: 0;
}

#links .link a.url img {
  left: 125px;
  top: 0px;
  position: absolute;
}

#links .link .user {
  width: 100px;
  margin-bottom: 2.5em;
}

#links .link .time {
  background-color: #55f;
  color: white;
  text-align: center;
  position: relative;
  padding-top: 3px;
  top: -2px;
  left: -2px;
  height: 25px;
  border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
}

#links .link .meta {
  background-color: #ffcc00;
  opacity: 0.75;
  position: relative;
  left: -2px;
  top: -2px;
  padding: 0.25em;
  margin-bottom: 3.5em;
  border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  display: inline-block;
}


#links .link .meta ol {
  padding: 0.25em;
  opacity: 0.2;
  display: inline-block;
}

#links .link .meta ol:hover {
  opacity: 0.9;
}

#links .link .meta li {
  width: 30px;
  text-align: center;
  display: inline-block;
}

#links .link.unseen {
  background-color: yellow;
}

#links .link .spinner {
  position: relative;
  left: 50%;
  margin-left: -12px;
}

.spinner {
  position: absolute;
  right: 5px;
  width: 24px;
  height: 24px;
}

.message {
  font-family: Georgia, serif;
  padding: 1.5em;
  position: absolute;
  right: -2px;
  width: 400px;
  bottom: 0px;
  background-color: #ffcc00;
  border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
}

.user {
  font-weight: bold;
}

.clear {
  clear: both;
}
